%li.itemList
  = link_to item_path(item) do
    - if item_soldout?(item)
      .soldout--small
      .soldoutText--small 売切
    %figure.iconPic
      = image_tag item.images.first
    .contents
      .content__body #{item.name}
      .content__price ¥ #{item.price}
    = fa_icon "angle-right", {class: "angleRight"}
