= render "shared/header"
%nav.breadCrumbs
  %ul
    %li
      = link_to "メルカリ", root_path
    %li
      = fa_icon "angle-right"
    %li
      = link_to " マイページ", user_path(current_user)
    %li
      = fa_icon "angle-right"
    %li
      %p 出品した商品 - 出品中
.main
  .contents
    = render "leftcontent"
    .rightContent
      %h2.cardHeader 支払い方法
      .cardBody
        %p クレジットカード一覧
        = link_to 'クレジットカードを追加する', new_card_path, class: 'add_card'
      .cardFooter
        = link_to '支払い方法について', '#'
= render "shared/banner"
= render "shared/footer"
= render "shared/purchaseBtn"

