.devise
  = render "shared_user/header"
  .deviseSection
    .inner
      %h2.title 新規会員登録
      .deviseForm
        = link_to "メールアドレスで登録", first_registrations_path, class: 'new_account_email'
        = fa_icon 'fa-envelope-o'
        %i.fa.fa-envelope-o
        = link_to "Facebookで登録", "/auth/facebook", class: 'new_account_facebook'
        = link_to "Googleで登録", "/auth/google_oauth2", class: 'new_account_google'
  =render "shared_user/footer"
