.productMainSection
  .inner
    %h2.title 商品の情報を入力
    .productForm
      = form_with model: @item, class: 'new_item', local: true do |f|
        .formSection
          = f.hidden_field :seller_id, value: current_user.id
          = f.hidden_field :buyer_id, value: current_user.id
          .productForm__field.productForm__field--top
            = f.label :出品画像
            %span.formRequired 必須
            %br/
            %p 最大4枚までアップロードできます
            - if @item.id?
              - persent = 100 - (25 * @item.images.count)
              %ul.formUploader{style: "width: #{persent}%"}
                %label{data: {label_index: @item.images.length}}
                  = f.file_field :images, class: 'avatar', multiple: true
                  .uploadInfo
                    %p ドラッグアンドドロップ
                    %span またはクリックしてアップロード
            - else
              %ul.formUploader
                %label{data_label_index: 0}
                  = f.file_field :images, class: 'avatar', multiple: true
                  .uploadInfo
                    %p ドラッグアンドドロップ
                    %span またはクリックしてアップロード
            - if @item.images.present?
              - @item.images.each.with_index do |image, i|
                %figure.form_item
                  = image_tag image, class: 'item_image'
                  .item_btn
                    .item_edit_btn
                      編集
                    .item_delete_btn{id: i}
                      削除
        .formSection
          .productForm__field
            = f.label :商品名
            %span.formRequired 必須
            %br/
            = f.text_field :name, required: true, placeholder: "商品名（40字まで）", class: "inputField"
          .productForm__field
            = f.label :商品の説明
            %span.formRequired 必須
            %br/
            = f.text_area :description, required: true, placeholder: "商品説明（1,000字まで）例）2018年に購入した、革ジャンです。黒みがかった見た目です。傷等はございません。", class: "inputField inputField__area", rows: "7"
        .formSection
          .contentLeft
            %h3 商品の詳細
          .contentRight
            .productForm__field.productForm__field--category
              = f.label :カテゴリー
              %span.formRequired 必須
              %br/
              / 新規投稿と編集の条件分け
              - unless @item.id?
                = f.select :category_id, options_from_collection_for_select(@categories, :id, :name), {include_blank: '---'}, class: "inputField inputField__select", id: "inputField__select--category", required: true, name: 'category_id'
              - else
                = f.select :category_id, options_from_collection_for_select(@categories, :id, :name, { :selected => @category.two_parent.id }), {include_blank: '---'}, class: "inputField inputField__select", id: "inputField__select--category", required: true
                = f.select :category_id, options_from_collection_for_select(@category.two_parent.children, :id, :name, { :selected => @category.one_parent.id }), {include_blank: '---'}, class: "inputField inputField__select", id: "inputField__select--category--child", required: true
                = f.select :category_id, options_from_collection_for_select(@category.one_parent.children, :id, :name, { :selected => @category.id }), {include_blank: '---'}, class: "inputField inputField__select", id: "inputField__select--category--grandchild", required: true
            .productForm__field
              = f.label :ブランド
              %br/
              = f.select(:brand_id, [['シャネル', 1], ['グッチ', 11]], {prompt: '---'}, {class: "inputField inputField__select", id: "inputField__select--category"})
            .resultLists
            .productForm__field
              = f.label :商品の状態
              %span.formRequired 必須
              %br/
              = f.select(:item_status, [["新品/未使用", "新品/未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["状態が悪い", "状態が悪い"]], {prompt: "---"}, {class: "inputField inputField__select", required: true})
        .formSection
          .contentLeft
            %h3
              配送について
              %span
              = link_to "#" do
                = fa_icon "question-circle"
          .contentRight
            .productForm__field.inputDelivery_fee
              = f.label :配送料の負担
              %span.formRequired 必須
              %br/
              = f.select(:delivery_fee, [["送料込み（出品者負担）", "送料込み（出品者負担）"], ["着払い（購入者負担）", "着払い（購入者負担）"]], {prompt: "---"}, {class: "inputField inputField__select", id: 'inputField__select--fee', required: true})
            - if @item.id?
              .productForm__field.inputDelivery_method
                = f.label :配送料の方法
                %span.formRequired 必須
                %br/
                = f.select :delivery_method_id, options_from_collection_for_select(@delivery_methods, :id, :name, { selected: @item.delivery_method_id }), {include_blank: '---'}, class: "inputField inputField__select", id: "inputField__select--category--child", required: true
            .productForm__field
              = f.label :発送元の地域
              %span.formRequired 必須
              %br/
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: "inputField inputField__select", required: true}
            .productForm__field
              = f.label :発送までの日数
              %span.formRequired 必須
              %br/
              = f.select(:delivery_date, [["1-2日で発送", "1-2日で発送"], ["2-3日で発送", "2-3日で発送"], ["4-7日で発送", "4-7日で発送"]], {prompt: "---"}, {class: "inputField inputField__select", required: true})
        .formSection
          .contentLeft
            %h3
              販売価格（300 - 9,999,999円）
              %span
              = link_to "#" do
                = fa_icon "question-circle"
          .contentRight.contentRight--price
            .productForm__field
              %ul
                %li
                  = f.label :価格（円）
                  %span.formRequired 必須
                %li
                  = f.text_field :price, required: true, placeholder: "例）1,000", class: "inputField inputField__price"
            .profitholder
              %ul.profitholder--persent
                %li 販売手数料（10%）
                %li.persent -
              %ul.profitholder--output
                %li 販売利益
                %li -
        .formSection
          .confirmation
            %p
              = link_to "禁止されている出品", "#"
              、
              = link_to "行為", "#"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "偽ブランドの販売", "#"
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "加盟店規約", "#"
              に同意したことになります。
          .productForm__actions
            = f.submit "出品する", class: "productBtn"
          = link_to "もどる", :back, class: "returnBtn"
